/* === CARRUSEL ===*/

.carousel-inner,
.carousel-item,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

#carouselHeader {
  .carousel-inner,
  .carousel-item {
    max-height: 400px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
